
  <%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil?%>
  <h1><%= @portfolio_item.title %></h1>
  <h5><%= @portfolio_item.description %></h5>
  <p><%= @portfolio_item.body %></p>
  <%= link_to 'Edit', edit_portfolio_path(@portfolio_item) %>