
<div class="showpage-content ">
  <%= image_tag portfoilo_img(@portfolio_item.main_image.url, 'main'), class: 'show-card-img'%>
</div>
<div class="showpage-content ">
  <h1 class="showpage-header"><%= @portfolio_item.title %></h1>
</div> 
<div class="showpage-content showpage-description">
  <p><%= @portfolio_item.body %></p>
</div>
 
<%= link_to 'Edit', (edit_portfolio_path(@portfolio_item)), class:'btn btn-warning btn-block' if logged_in?(:site_admin)  %>
<%= link_to 'Remove', (portfolio_path(@portfolio_item)), class:'btn btn-danger btn-block', method: :delete, data: {confirm: "Are you sure?"} if logged_in?(:site_admin)%>
