
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Ja Gotuje On Piecze</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= link_to 'Home', root_path, class:"nav-link #{active? root_path}" %>
      <%= blog_helper if logged_in?(:site_admin) %>
      <%= link_to 'Portfolio', portfolios_path, class:"nav-link #{active? portfolios_path}" %>
      <%= link_to 'New Portfolio Item', new_portfolio_path, class:"nav-link #{active? new_portfolio_path}" if logged_in?(:site_admin) %>
      <%= login_helper %>
    </nav>
  </div>
</header>